

body {
	margin: 0 auto;
	font-family:arial;
    background: #020202;
	color:#fff;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}


input, select{
    border: none;
	width: 100%;
}

/*----------------- TYPOGRAPHY --------------------*/

span.subheading {
	font-weight:bolder;
	
}

h1 {
    text-align: center;
    font-size: 4rem;
    padding: 1em;
    letter-spacing: 0.06em;
    color: #4d81f9;	
}


p {
	margin-top: 0.5em;
	margin-bottom: 0.6em;

}


/*-------------------------------- LAYOUT-----------------------------------*/


.site-wrapper {
	display:flex;
	position:relative;
}


/*----------------- FILTER SIDE BAR --------------------*/


.search-wrapper {

    max-width: 250px;
    background: #2f2f2f;
    padding: 2em;
	 width: 20%;

}

.searchbar-small {
    display: flex;
}

.form-sidebar {
	 margin: 0.4em 0em 1.2em;
    min-width: 200px;
    background: white;
    padding: 0.2em 0.5em;
    max-width: 350px;
}


/*-------------------------- MAIN LAYOUT -------------------------------------------*/


.main-wrapper{
	width:100%;
}

.main-container{
		position:relative;

}

/*----------------------- HEADER ----------------------------------------*/


header {
padding: 0.5em 2em;
    margin-top: 0.2em;
    display: flex;
    align-items: center;
    background: #232323;
    justify-content: space-between;
}

.logo-wrapper {
    display: flex;
    align-items: center;
	width: 33%;
	justify-content: flex-end;
}

.logo-text {
	    font-weight: 800;	
	    margin-right:0.5em;
}

.country-search-wrapper{
    display: flex;
	    width: 33%;
	    margin: 0em 2em;

}


.filter-icon-wrapper{
    display: flex;
justify-content: space-between;
	margin-bottom:2em;
}

.filter-text{
	    display: flex;
    align-items: center;
    margin-right: 1em;
}


#filter-svg {
	fill:#fff;
		width:30px;
	cursor:pointer;
}

#filter-svg:hover{
	fill:#00fff9;
}

/*---------COUNTRY SEARCH BAR STYLING --------*/


.searchbar-large {
    display: flex;
    min-width: 300px;
    background: white;
    border-radius: 20px;
    padding: 0.5em 1em;
    max-width: 350px;
}




.search-icon {
	   background: none;
    border: none;
	    padding: 0.2em;
}

  .clear-icon {
    cursor: pointer;
    visibility: hidden; 
  }
/*-----------------------END OF HEADER ----------------------------------------*/



/*---------------- CLICKABLE MAP --------------------*/


.map-container {
   margin:1em 0em 0em 2em;
}

svg#map-svg{
	fill: lightgray; 
	stroke: white;
    width: 100%;
    height: 1200px;
}
svg#map-svg path:hover {
	fill: gray; 
	cursor:pointer;
}

.highlight{
	fill:red;
}

/*----------------- CARD STYLING --------------------*/
.countries-wrapper {
display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em;
    opacity: 0.7;

}



	.flag-container {
    height: 150px;
    overflow: hidden;
    position: relative;}

	.flag {
   height:200px;
    overflow: hidden;
}

.country-card {
    min-width: 260px;
    max-width: 260px;
    height: fit-content;
    margin: 0.5em;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;

}

.flag-image {
       height: 100%;
 
}

.title {
   background: #040404cc;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 0.5em;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: 0.2em;
}

	
.stat-container {
    padding: 0.8em;
    color: #212121;

}




