
html, body {
    margin: 0;
    height: 100%;
	min-height:100%;
}
body {
	margin: 0 auto;
	font-family:arial;
	color:#fff;
	position:relative;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}


input, select{
    border: none;
	width: 100%;
}

/*----------------- TYPOGRAPHY --------------------*/

span.subheading {
	font-weight:bolder;
	
}

h1 {
    text-align: center;
    font-size: 4rem;
    padding: 1em;
    letter-spacing: 0.06em;
    color: #4d81f9;	
}


p {
	margin-top: 0.5em;
	margin-bottom: 0.6em;

}


/*-------------------------------- LAYOUT-----------------------------------*/


.site-wrapper {
	position:relative;
	width:100%;
	    background: radial-gradient(#ffffff 5%, #d0d0d0);
}




/*----------------- FILTER SIDE BAR BUTTON --------------------*/


.filter-icon-btn{
	padding:1em;

}

.filter-text{
	    display: flex;
    align-items: center;
    margin-right: 1em;
}


#filter-svg {
	fill:#fff;
		width:30px;
}


svg#filter-svg\ filter-close {
	 width: 30px;
    fill: grey;
}


.filter-open{
	cursor:pointer;
}

.filter-open:hover{
	fill:#00fff9;
}



.search-wrapper {

    background:#191932;
	 width: 0;
	    position: fixed;
	overflow:hidden;
	transition: 0.4s;
	z-index:1;
	

}

.filter-header{
	    display: flex;
	justify-content: space-between;
}

.closeBtn {
    width: 15px;
    height: auto;
    fill: white;
	padding: 1.5em;
	cursor:pointer;
}


.search-container{
		padding: 1.5em;

}

.search-container p {
	width:100px;
}


.searchbar-small {
    display: flex;
}

.form-sidebar {
    margin: 1em 0em 1.5em;
    background: white;
    padding: 0.5em 0.5em;
    max-width: 350px;
    transition: 0.5s;
    border-radius: 20px;
}


/*-------------------------- MAIN LAYOUT -------------------------------------------*/


.main-container{
		position:relative;

}

/*----------------------- HEADER ----------------------------------------*/


header {
      display: flex;
    justify-content: space-between;
    background: #191932;
    align-items: center;
	    width: 100%;
    z-index: 1;
    position: fixed;
}





/*---------COUNTRY SEARCH BAR STYLING --------*/

.country-search-wrapper{
	margin-right:3em;
}


.searchbar-large {
    display: flex;
    min-width: 300px;
    background: white;
    border-radius: 20px;
    padding: 0.5em 1em;
}




.search-icon {
    width: 15px;
    z-index: 1;
    color: #868686;
    margin-right: 0.5em;
    padding: 0em .2em;
}

  .clear-icon {
    cursor: pointer;
    visibility: hidden; 
  }
/*-----------------------END OF HEADER ----------------------------------------*/



/*---------------- CLICKABLE MAP --------------------*/



#map-svg{
	fill: #6aa9ff; 
	  stroke: white;
    -webkit-text-stroke-width: thin;
    stroke-width: 0.5px;
	cursor:grab;
	width:100%;
}

#map-svg:active { cursor: grabbing; }

.land{
cursor:pointer;
}
.land:hover{
	fill: #3f3f6b; 
}

.highlight{
	fill:#efe200;
}


/*----------------- COUNTRY CARD STYLING --------------------*/
.country-card-wrapper{
    background: #000000ad;
    width: 100%;
    position: fixed;
    bottom: 0;
	opacity:0;
	transition: 0.4s;
	display:flex;
}

.country-card-single {
	justify-content:center;
}

.country-card-nav{
	padding: 1em;
    display: flex;
    align-items: center;
}

.country-wrapper-close-icon{
	position:absolute;
	right:0px;
	top:0px;
}



i.fas.fa-chevron-right {
    font-size: 2em;
	cursor:pointer;
}

.country-card-container {
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
	    display: flex;
		margin:0em 1em;

}



.country-card-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.country-card {
    min-width: 260px;
    max-width: 260px;
    height: fit-content;
    margin: 0.5em;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
	display:inline-block;
		opacity:0.9;
	

}

	.flag-container {
 position: relative; 
    height: 200px;
    background-size: cover;
}


.title-container {
    background: #040404cc;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 0.5em;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.2em;
	    white-space: pre-wrap;

}

	
.stat-container {
    padding: 0.8em;
    color: #212121;

}

.stat-container p{
	    font-size: 0.9em;
}




