html{
	background: radial-gradient(#ffffff 5%, #d0d0d0);
    height: 100%;
}

body {
	margin: 0 auto;
	font-family:arial;
	color:#fff;
	 min-height: 100%;
     position:relative;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}

input, select{
    border: none;
	width: 100%;
}


/*----------------------- HEADER ----------------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    background: #191932;
    align-items: center;
	    width: 100%;
    position: fixed;
    padding-top:5px;
}

/*---------COUNTRY SEARCH BAR STYLING --------*/

.country-search-wrapper{
	margin-right:3em;
}

.filter-btn-wrapper{
	margin-right:3em;
}

.searchbar-large {
    display: flex;
    min-width: 300px;
    background: white;
    border-radius: 20px;
    padding: 0.5em 1em;
}

.search-icon {
    width: 15px;
    z-index: 1;
    color: #868686;
    margin-right: 0.5em;
    padding: 0em .2em;
}

  .clear-icon {
    cursor: pointer;
    visibility: hidden; 
  }

  #error-container{
    font-size:0.8em;
    margin:5px;
  }


/*----------------- FILTER SIDE BAR BUTTON --------------------*/


.filter-icon-btn{
		width:30px;
		padding:1em;
		fill:#fff;
		min-width: 30px;

}


svg#filter-svg\ filter-close {
    fill: grey;
}

.filter-open{
	cursor:pointer;
}

.filter-open:hover{
	fill:#00fff9;
}

/*----------------- FILTER SIDE BAR --------------------*/

.filter-modal {
    background:#191932;
	 width: 0;
	 position: fixed;
	overflow:hidden;
	transition: 0.4s;
	z-index:1;

}

.filter-header{
display: flex;
	justify-content: space-between;
}

.closeBtn {
    width: 15px;
    height: auto;
    fill: white;
	padding: 1.5em;
	cursor:pointer;
}

.filter-options{
		padding: 1.5em;
}

.searchbar-small {
    display: flex;
}

.form-sidebar {
    margin: 1em 0em 1.5em;
    background: white;
    padding: 0.5em 0.5em;
    transition: 0.5s;
    border-radius: 20px;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  


/*---------------- CLICKABLE MAP --------------------*/

map-container{
    overflow: hidden;
    display: flex;
    justify-content: center;
	height:150vh;
}
#map-svg{
	fill: #6aa9ff; 
	  stroke: white;
    -webkit-text-stroke-width: thin;
    stroke-width: 0.5px;
}

.country{
cursor:pointer;
}
.country:hover{
	fill: #3f3f6b; 
}

.activeCountry{
	fill:#efe200;
}


/*----------------- COUNTRY CARD STYLING --------------------*/
.modal-country-wrapper{
    background: #000000ad;
    width: 100%;
    position: absolute;
    bottom: 0;
	opacity:0;
	transition: 0.4s;
	display:flex;
    justify-content: center;
}

.country-wrapper-close-icon{
	position:absolute;
	right:0px;
	top:0px;
}

.country-card-container {
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
	    display: flex;
		margin:0em 1em;
}

.country-card-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.country-card {
    min-width: 260px;
    max-width: 260px;
    height: fit-content;
    margin: 0.5em;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
	display:inline-block;
		opacity:0.9;
}

	.flag-container {
 position: relative; 
    height: 200px;
    background-size: cover;
}

.title-container {
    background: #040404cc;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 0.5em;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.2em;
	    white-space: pre-wrap;
}
	
.stat-container {
    padding: 0.8em;
    color: #212121;

}

span.subheading {
	font-weight:bolder;
}

h1 {
    text-align: center;
    font-size: 4rem;
    padding: 1em;
    letter-spacing: 0.06em;
    color: #4d81f9;	
}

.stat-container p{
	    font-size: 0.9em;
		margin-top: 0.5em;
	margin-bottom: 0.6em;
}


/*MEDIA QUERIES*/

@media (max-width: 1100px){
	#map-container{
			height:100vh;

}
}


@media (max-width: 1000px){
	.searchbar-large{
		min-width:150px;
	}
	.flag-container{
		height: 150px;
	}
	.country-card{
		min-width: 230px;
	}

}

@media (max-width: 800px){
	.map-container{
    display: block;

}
}


